/* Import de la police Lexend depuis Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Lexend&display=swap');

/* Styles de base pour l'ensemble de la page */
#app,
html,
body {
  background-color: #ddd; /* Couleur de fond */
  padding: 0; /* Supprime les marges internes par défaut du corps */
  height: 100%; /* Utilise toute la hauteur de la fenêtre */
  margin: 0;
  font-family: 'Lexend', sans-serif; /* Police de caractères par défaut */
  width: 100%;
}

/* Styles pour les conteneurs */
.container {
  background-color: #ddd;
  min-height: 80vh; /* La hauteur minimale du conteneur */
  display: flex; /* Utilisation de Flexbox pour centrer verticalement le contenu */
  flex-direction: column; /* Dispose le contenu en colonne */
  justify-content: center; /* Centre le contenu verticalement */
  padding: 20px;
}

/* Styles pour les titres */
h1 {
  text-align: center; /* Centre le texte */
  font-weight: bold;
  margin-bottom: 10px;
}

h2,
h3,
h4 {
  text-align: center; /* Centre le texte */
  font-size: 28px !important;
  margin-top: 20px;
}

h5,
h6 {
  font-size: 24px;
  color: #12b6f3; /* Couleur bleue */
  text-align: center; /* Centre le texte */
}

/* Styles pour les paragraphes */
p {
  font-size: 18px;
  text-align: center;
}

/* Styles pour l'animation de chargement */
.loader {
  border: 4px solid #ffffff; /* Bordure de 4px solide, couleur gris clair */
  border-top: 4px solid #3498db; /* Bordure supérieure de 4px solide, couleur bleue */
  border-radius: 50%; /* Bordure arrondie à 50% */
  width: 16px; /* Largeur */
  height: 16px; /* Hauteur */
  animation: spin 1s linear infinite; /* Animation de rotation */
}

.loading-spinner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.spinner-logo {
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2em;
  color: #3498db;
  text-align: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Styles pour la barre de navigation */
.navbar {
  background-color: #142331; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  padding: 10px; /* Espacement interne */
  display: flex; /* Affichage flex */
  font-family: 'Lexend', sans-serif; /* Police de caractères */
  justify-content: space-between; /* Espace entre les éléments */
  align-items: center; /* Alignement vertical */
}

/* Styles pour la liste de navigation */
.navbar-nav {
  display: flex; /* Affichage flex */
  justify-content: center; /* Centrage horizontal */
  align-items: center; /* Alignement vertical */
}

/* Styles pour les images dans les liens de navigation */
nav a img {
  height: 80px; /* Hauteur de l'image */
  width: 80px; /* Largeur de l'image */
  object-fit: cover; /* Ajustement de l'image */
}

/* Styles pour les liens de navigation */
nav a {
  color: #fff !important; /* Couleur du texte */
  font-weight: bold; /* Police en gras */
  font-size: 16px; /* Taille de la police */
  text-transform: uppercase; /* Texte en majuscules */
  padding: 0 20px; /* Espacement interne */
}

/* Styles pour les liens de navigation */
.nav-link {
  color: #fff !important; /* Couleur du texte */
  font-weight: bold; /* Police en gras */
  font-size: 16px; /* Taille de la police */
  text-transform: uppercase; /* Texte en majuscules */
  padding: 0 20px; /* Espacement interne */
}

/* Styles pour les liens actifs, sauf navbar-brand */
.nav-link.router-link-active {
  border-bottom: 2px solid #fff; /* Trait sous l'élément actif */
}

/* Styles pour les images dans les liens */
a img {
  padding: 10px 0 10px 0; /* Espacement interne */
  height: 50px; /* Hauteur de l'image */
}

/* Styles pour les liens de navigation avec classe .nav-link */
a.nav-link {
  color: white; /* Couleur du texte */
  text-decoration: none; /* Pas de soulignement */
  padding: 10px; /* Espacement interne */
  border-radius: 8px; /* Coins arrondis */
}

/* Styles au survol des liens de navigation avec classe .nav-link */
a.nav-link:hover {
  background-color: #fff; /* Couleur de fond au survol */
  color: black !important; /* Couleur du texte au survol */
  border-radius: 8px; /* Coins arrondis */
}

/* Styles généraux pour les liens de navigation */
.nav-link {
  text-align: center; /* Centre le texte */
  margin: 0px 0px 0 300px; /* Marge du lien */
}

@media screen and (max-width: 768px) {
  .align-left-on-mobile {
    text-align: center; /* Centrer le texte */
    margin-left: -230px; /* Réinitialiser la marge */
    padding: 50px; /* Ajouter un padding pour centrer le texte */
  }
}

/* Styles pour le pied de page */
footer {
  font-family: 'Lexend', sans-serif; /* Police Lexend */
  background-color: #12b6f3; /* Couleur de fond */
  color: #fff; /* Couleur du texte */
  text-align: center; /* Centre le texte */
  bottom: 0; /* Alignement en bas */
  position: fixed; /* Position fixée */
  width: 100%; /* Largeur de 100% */
  font-size: 18px; /* Taille de police */
}

/* Styles pour les images dans le pied de page */
footer img {
  height: 50px; /* Hauteur */
  width: auto; /* Largeur automatique */
  margin: 5px; /* Marge */
}

/* Styles pour les paragraphes dans le pied de page */
footer p {
  font-size: 14px; /* Taille de police */
  background-color: #12b6f3; /* Couleur de fond */
  margin-bottom: -5px; /* Marge inférieure */
}

/* Styles pour les cadres de projets */
.cadre-row {
  display: flex;
  flex-wrap: wrap; /* Permet aux cadres de passer à la ligne si nécessaire */
  justify-content: space-around;
  margin-top: 30px; /* Espacement vers le haut */
  font-size: 12px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .cadre-row {
    height: 100vh; /* Centrer les cadres sur les écrans plus petits */
    margin-bottom: 16vh; /* Réduire l'espacement vers le haut */
  }
}

@media (max-width: 480px) {
  .cadre-row {
    font-size: 10px; /* Réduire la taille de la police pour les écrans très petits */
  }
}

.cadre {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 45%; /* Largeur ajustée pour deux cadres par ligne */
  min-width: 250px;
  text-align: center;
  margin-bottom: 20px; /* Espacement entre les cadres */
  transition: box-shadow 0.5s ease; /* Transition douce pour l'effet d'ombre */
}

.cadre:hover {
  box-shadow: 4px 4px 8px #0056b3; /* Ombre plus prononcée sur hover */
}

.cadre h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.cadre img {
  width: 100%;
  max-width: 200px; /* Largeur maximale de l'image */
  height: auto;
  margin-bottom: 10px; /* Espacement vers le bas */
}

/* Styles spécifiques pour la page d'accueil */
.home {
  font-size: 36px; /* Taille de police */
  color: #333; /* Couleur du texte */
  margin-bottom: 20px; /* Marge en bas */
  padding-top: 20px; /* Espacement en haut */
}

/* Styles pour la présentation */
.presentation {
  font-size: 18px; /* Taille de police */
  color: #007bff; /* Couleur du texte */
  margin-bottom: 30px; /* Marge en bas */
}

/* Styles pour la biographie */
.bio {
  font-size: 24px; /* Taille de police */
  color: #12b6f3; /* Couleur du texte */
  line-height: 1; /* Hauteur de ligne */
  margin: 0 auto; /* Centre horizontalement */
  width: 50%; /* Largeur */
}

.bio br {
  display: block; /* Assure que chaque <br> soit sur une nouvelle ligne */
  margin-bottom: 1em; /* Ajoute un espace équivalent à la hauteur de ligne après chaque <br> */
}

/* Styles pour les projets */
.projet {
  font-size: 28px !important; /* Taille de police avec importance */
  color: #12b6f3; /* Couleur du texte */
  margin-top: 30px; /* Marge en haut */
}

.contact {
  font-size: 28px !important; /* Taille de police avec importance */
  color: #12b6f3; /* Couleur du texte */
  margin-top: 30px; /* Marge en haut */
}

/* Styles pour la page "À propos" */
.about {
  text-align: center;
}

/* Styles pour la page "À propos" */
.contact {
  text-align: center;
}

.about-container h2 {
  font-size: 32px !important; /* Taille de police de base */
  color: #007bff; /* Couleur bleue */
  margin-bottom: 10px;
}

.contact-container h2 {
  font-size: 32px !important; /* Taille de police de base */
  color: #007bff; /* Couleur bleue */
  margin-bottom: 10px;
}

.skills-container h2 {
  font-size: 32px !important; /* Taille de police de base */
  color: #007bff; /* Couleur bleue */
  text-align: left;
  margin-bottom: 10px;
}

/* Responsive styles */
@media (max-width: 768px) {
  .home {
    font-size: 24px; /* Réduire la taille de police pour les écrans moyens */
  }

  .presentation {
    font-size: 16px; /* Réduire la taille de police pour les écrans moyens */
  }

  .bio {
    font-size: 20px; /* Réduire la taille de police pour les écrans moyens */
    width: 70%; /* Ajuster la largeur pour les écrans moyens */
  }

  .projet {
    font-size: 24px !important; /* Réduire la taille de police pour les écrans moyens */
  }

  .contact {
    font-size: 28px !important; /* Taille de police avec importance */
    color: #12b6f3; /* Couleur du texte */
    margin-top: 30px; /* Marge en haut */
  }

  .about-container h2 {
    font-size: 28px !important; /* Réduire la taille de police pour les écrans moyens */
  }
}

@media (max-width: 480px) {
  .home {
    font-size: 20px; /* Réduire la taille de police pour les petits écrans */
  }

  .presentation {
    font-size: 14px; /* Réduire la taille de police pour les petits écrans */
  }

  .bio {
    font-size: 18px; /* Réduire la taille de police pour les petits écrans */
    width: 90%; /* Ajuster la largeur pour les petits écrans */
  }

  .projet {
    font-size: 20px !important; /* Réduire la taille de police pour les petits écrans */
  }

  .contact {
    font-size: 28px !important; /* Taille de police avec importance */
    color: #12b6f3; /* Couleur du texte */
    margin-top: 30px; /* Marge en haut */
  }

  .about-container h2 {
    font-size: 24px !important; /* Réduire la taille de police pour les petits écrans */
  }
}

/* Styles pour les logos de profil */
.profile-logo {
  margin: 0 auto; /* Centre horizontalement */
  display: block; /* Pour que margin: 0 auto; fonctionne */
  height: 128px !important;
  width: 128px !important;
  margin-top: 30px !important;
  margin-bottom: 30px !important;
}

/* Styles pour les modales */
.modal-dialog {
  max-width: 800px; /* Largeur maximale de la boîte de dialogue modale */
  margin: 1.75rem auto; /* Marge extérieure pour centrer la modale verticalement */
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-content {
  border: none; /* Supprimer la bordure par défaut */
  border-radius: 10px; /* Arrondir les coins */
}

.modal-header {
  display: flex; /* Utiliser flexbox pour aligner les éléments */
  justify-content: space-between; /* Répartir l'espace disponible entre les éléments */
  align-items: center; /* Centrer verticalement les éléments */
  background-color: #007bff; /* Couleur de fond de l'en-tête */
  border-top-left-radius: 10px; /* Arrondir le coin supérieur gauche */
  border-top-right-radius: 10px; /* Arrondir le coin supérieur droit */
  padding: 1rem 1.5rem; /* Ajouter un peu de remplissage */
}

.modal-title {
  font-weight: bold; /* Gras */
  color: #fff; /* Couleur du texte */
  margin: 0; /* Supprimer la marge */
}

.btn-close {
  border: none; /* Supprimer la bordure */
  font-size: 18px; /* Taille de la police */
  color: #fff; /* Couleur du texte */
  opacity: 1; /* Opacité par défaut */
}

.info {
  font-family: 'Lexend', sans-serif !important; /* Police Lexend */
  color: #12b6f3;
}

.info img {
  height: 40px;
  width: auto;
}

.btn-close:hover,
.btn-close:focus {
  opacity: 1; /* Augmenter l'opacité au survol/focus */
}

.modal-body {
  padding: 20px; /* Espacement intérieur */
}

.modal-body p {
  font-size: 20px; /* Espacement intérieur */
  font-style: italic; /* italic */
}

.modal-body a {
  text-decoration: none; /* Supprimé l'effet */
  color: #12b6f3; /* Couleur du texte */
  padding-top: 15px; /* Espacement intérieur */
}

/* Styles pour les éléments dans la modale */
.modal-body .cv {
  border-radius: 50%; /* Bordure arrondie */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la zone */
}

.modal-body .cahier {
  width: 128px; /* Largeur fixe */
  height: 128px; /* Hauteur fixe */
  border-radius: 50%; /* Bordure arrondie */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la zone */
}

.modal-body .espace_c {
  width: 128px; /* Largeur fixe */
  height: 128px; /* Hauteur fixe */
  border-radius: 50%; /* Bordure arrondie */
  object-fit: cover; /* Redimensionne l'image pour qu'elle remplisse la zone */
}

.modal-body .github {
  width: 42px; /* Largeur fixe */
  height: 42px; /* Hauteur fixe */
  margin: auto; /* Centre horizontalement */
  padding-block: 10px; /* Espace autour du contenu */
  text-align: center; /* Centre le texte */
  object-fit: contain; /* Ajuste la taille de l'image sans déformer */
}

.modal-body a {
  font-size: 18px; /* Taille de police */
}

.modal-body {
  justify-content: center;
}

/* Styles pour les conteneurs de compétences */
.skills-container {
  display: flex; /* Utilisation de Flexbox */
  align-items: center; /* Alignement vertical */
  margin: 0 240px; /* Marge extérieure gauche et droite */
}

/* Styles pour les compétences */
.skills {
  width: 100%;
}

.skill {
  color: black; /* Couleur du texte */
}

/* Styles pour les titres de compétences */
.skill-title {
  text-align: left; /* Alignement à gauche */
  margin-bottom: 20px; /* Marge inférieure */
}

/* Styles pour les noms de compétences */
.skill-name {
  font-weight: bold;
  margin-bottom: 5px;
}

/* Styles pour les barres de progression */
.progress {
  position: relative;
  height: 20px;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar {
  height: 100%;
  transition: width 4s ease;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progress-percentage {
  position: absolute;
  color: white;
}

/* Styles pour les conteneurs de barres de progression */
.progress-bar-container {
  height: 20px; /* Hauteur fixe */
  border-radius: 10px; /* Bordure arrondie */
  overflow: hidden; /* Masque le débordement */
}

/* Styles pour les barres de progression */
.progress-bar {
  height: 100%; /* Hauteur de la barre de progression */
  transition: width 2s ease; /* Durée de transition ajustée pour une animation plus longue */
}

.skills-container:not(.loaded) .progress-bar {
  width: 0;
}

/* Styles responsive */
@media (max-width: 1200px) {
  .skills-container {
    margin: 0 120px; /* Réduire la marge extérieure sur les grands écrans */
  }
}

@media (max-width: 992px) {
  .skills-container {
    margin: 0 80px; /* Réduire la marge extérieure sur les écrans moyens */
  }
}

@media (max-width: 768px) {
  .skills-container {
    margin: 0 40px; /* Réduire la marge extérieure sur les tablettes */
  }
}

@media (max-width: 576px) {
  .skills-container {
    margin: 0 20px; /* Réduire la marge extérieure sur les petits écrans */
    flex-direction: column; /* Passer en disposition colonne sur les petits écrans */
  }

  .skills {
    margin-bottom: 20px; /* Ajouter une marge inférieure entre les sections de compétences */
  }

  .skill-title {
    text-align: center; /* Centrer les titres sur les petits écrans */
  }

  .progress-bar-container {
    width: 100%; /* Assurer que la barre de progression utilise toute la largeur disponible */
  }
}

/* Styles pour les noms de compétences */
.skill-name {
  margin-bottom: 5px; /* Marge inférieure */
}

/* Styles pour les barres de progression */
.progress {
  position: relative; /* Position relative pour les éléments enfants positionnés absolument */
  margin-bottom: 20px; /* Marge inférieure */
}

/* Styles pour les conteneurs de barres de progression */
.progress-bar-container {
  height: 20px; /* Hauteur fixe */
  border-radius: 10px; /* Bordure arrondie */
  overflow: hidden; /* Masque le débordement */
}

.progress:hover {
  box-shadow: 0px 4px 8px #007bff; /* Ombre au passage de la souris */
}

/* Condition pour ajouter l'ombre */
.progress-bar:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Ombre au passage de la souris */
}

@media (max-width: 480px) {
  .progress-bar-container {
    height: 15px; /* Réduire la hauteur de la barre de progression sur les petits écrans */
  }
}

/* Styles pour les barres de progression */
.progress-bar {
  height: 100%; /* Hauteur de la barre de progression */
  transition: width 2s ease; /* Durée de transition ajustée pour une animation plus longue */
}

.skills-container.loaded .progress-bar {
  background-color: initial; /* Permet de réinitialiser la couleur de fond */
}

.skills-container:not(.loaded) .progress-bar {
  width: 0;
}

/* Styles pour les popups */
.progress-popup {
  position: absolute;
  top: -25px;
  background-color: #000;
  color: #fff;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 12px;
  white-space: nowrap;
}

@media (max-width: 480px) {
  .progress-popup {
    font-size: 10px; /* Réduire la taille de la police pour les petits écrans */
    top: -20px; /* Ajuster la position */
  }
}

/* Styles pour les popups */
.progress-popup {
  position: absolute;
  top: -25px;
  right: 5px;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 3px;
}

/* Styles pour le conteneur d'image de profil */
.profile-picture-container {
  margin-left: 20px; /* Marge à gauche */
}

/* Styles pour l'image de profil */
.profile-picture {
  width: 256px; /* Largeur */
  height: 256px; /* Hauteur */
  margin-top: 60px; /* Marge supérieure */
  border-radius: 50%; /* Bordure arrondie */
  border: 5px solid #0079fe; /* Bordure */
  transition: transform 0.5s ease; /* Transition pour l'effet flip */
}

.profile-picture:hover {
  transform: rotateY(160deg);
  box-shadow: 0px 10px 20px #12b6f3; /* Ombre lors du survol */
}

@media (max-width: 1200px) {
  .profile-picture {
    width: 180px; /* Réduire la largeur pour les écrans moyens */
    height: 1800px; /* Réduire la hauteur pour les écrans moyens */
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .profile-picture-container {
    margin-left: 0; /* Enlever la marge à gauche pour les petits écrans */
    margin-top: 20px; /* Ajouter une marge supérieure */
    margin-bottom: 20px;
  }

  .profile-picture {
    width: 150px; /* Réduire davantage la largeur pour les petits écrans */
    height: 150px; /* Réduire davantage la hauteur pour les petits écrans */
    margin-top: 0; /* Enlever la marge supérieure pour les petits écrans */
  }
}

@media (max-width: 480px) {
  .profile-picture {
    width: 180px; /* Réduire la largeur pour les très petits écrans */
    height: 180px; /* Réduire la hauteur pour les très petits écrans */
    margin-bottom: 100px;
  }
}

/* Styles pour les textes animés */
.animated-text {
  animation: slide-down 1.5s ease-out; /* Animation de descente */
  margin: 0.5em 0; /* Marge autour du texte */
}

/* Styles pour le nom animé */
.name-animated {
  position: relative; /* Position relative pour les pseudo-éléments */
  animation: fade-in 1s ease-out; /* Animation de fondu */
  font-weight: bold; /* Police en gras */
  transition: background 1s ease; /* Transition de couleur de fond */
  background: #007bff; /* Couleur de fond initiale */
  -webkit-background-clip: text; /* Permet d'appliquer la couleur de fond au texte */
  color: transparent; /* Rend le texte transparent */
}

/* Styles pour le nom animé au survol */
.name-animated:hover::after {
  transform: scaleX(1); /* Échelle horizontale de l'élément pseudo ::after */
  background: #007bff; /* Couleur de fond */
}

.name-animated-1 {
  position: relative; /* Position relative pour les pseudo-éléments */
  color: #007bff; /* Couleur de fond initiale */
}

.name-animated-2 {
  position: relative; /* Position relative pour les pseudo-éléments */
  color: transparent; /* Rendre le texte transparent */
  background-image: linear-gradient(
    to bottom,
    #000000 12%,
    /* Noir au bas */ #0079fe 33%,
    /* Bleu foncé à 33% */ #12b6f3 66%,
    /* Bleu clair à 66% */ #ffffff 100% /* Blanc en haut */
  ); /* Dégradé de couleurs verticales */
  -webkit-background-clip: text; /* Permet au dégradé de remplir le texte */
  background-clip: text; /* Permet au dégradé de remplir le texte */
  display: inline-block; /* Permet d'appliquer des propriétés de bloc sans affecter le contenu */
  padding: 5px; /* Ajout de remplissage pour séparer le texte du contour */
}

.name-animated-2::before,
.name-animated-2::after {
  content: ''; /* Contenu vide pour les pseudo-éléments */
  position: absolute; /* Position absolue pour placer les coins */
}

/* Styles pour l'en-tête animé */
.animated-header {
  text-align: center; /* Centre le texte */
  margin-top: 20px; /* Marge supérieure */
}

/* Styles pour les textes en bleu */
.blue-text {
  color: #12b6f3; /* Couleur bleue */
}

/* Styles pour les textes changeants */
.changing-text {
  display: inline-block; /* Affichage en ligne avec bloc d'éléments */
  transition:
    transform 1s,
    opacity 1s; /* Transition pour la transformation et l'opacité */
  color: #12b6f3; /* Couleur bleue par défaut */
}

/* Styles pour les textes en montée */
.slide-up {
  transform: translateY(-20px); /* Translation vers le haut */
  opacity: 0; /* Opacité initiale */
}

/* Styles pour le logo de profil */
.profile-logo {
  margin: 0 auto; /* Centre horizontalement */
  display: block; /* Affichage en bloc */
}

/* Styles pour le formulaire de contact */
.contact-form {
  max-width: 600px; /* Largeur maximale du formulaire */
  margin: auto; /* Centre le formulaire horizontalement */
  /* Espacement interne */
}

/* Styles pour les groupes de formulaires */
.form-group {
  margin-bottom: 15px; /* Marge inférieure entre les groupes */
}

/* Styles pour les étiquettes des champs de formulaire */
label {
  display: block; /* Affiche les étiquettes en bloc */
  font-weight: bold; /* Police en gras */
  margin-top: 30px; /* Marge supérieure */
}

/* Styles pour les champs de texte, les champs de courriel et les zones de texte */
input[type='text'],
input[type='email'],
textarea {
  width: 100%; /* Largeur à 100% */
  padding: 8px; /* Espacement interne */
  border: 1px solid #0056b3; /* Bordure de 1px solide */
  border-radius: 8px; /* Bordure arrondie */
  box-shadow: 2px 2px 4px #0056b3; /* Ombre plus prononcée sur hover */
}

/* Styles pour les boutons de soumission du formulaire */
button[type='submit'] {
  background-color: #007bff; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border: none; /* Pas de bordure */
  border-radius: 4px; /* Bordure arrondie */
  padding: 10px 20px; /* Espacement interne */
  cursor: pointer; /* Curseur pointeur */
  display: flex; /* Affichage en ligne */
  align-items: center; /* Alignement vertical */
  justify-content: center; /* Alignement horizontal */
  margin: 0 auto; /* Centre horizontalement */
}

/* Styles au survol des boutons de soumission */
button[type='submit']:hover {
  background-color: #0056b3; /* Couleur de fond au survol */
}

/* Styles pour les boutons de soumission désactivés */
button[type='submit']:disabled {
  background-color: #5a9bf8; /* Couleur de fond désactivée */
  cursor: not-allowed; /* Curseur interdit */
}

/* Styles pour les boutons */
.buttons-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.info-button {
  padding: 10px 10px;
  background-color: #12b6f3; /* Couleur de fond */
  color: white; /* Couleur du texte */
  border-radius: 15px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin: 10px;
}

.info-button:hover {
  background-color: #007bff; /* Couleur de fond au survol */
}

/* Responsive styles */
@media (max-width: 768px) {
  .info-button {
    flex-basis: 50%;
    font-size: 10px;
  }
}

@media (max-width: 480px) {
  .info-button {
    text-align: center;
  }
}

/* Définition de l'animation de rotation */
@keyframes spin {
  0% {
    transform: rotate(0deg); /* Rotation initiale */
  }
  100% {
    transform: rotate(360deg); /* Rotation complète */
  }
}

/* Définition de l'animation de fondu */
@keyframes fade-in {
  from {
    opacity: 0; /* Opacité initiale */
  }
  to {
    opacity: 1; /* Opacité finale */
  }
}

/* Styles pour l'alerte */
.alert {
  margin-top: 10px; /* Marge supérieure */
  background-color: #dff0d8; /* Couleur de fond */
  border: 1px solid #d0e9c6; /* Bordure de 1px solide */
  color: #3c763d; /* Couleur du texte */
  padding: 15px; /* Espacement interne */
  border-radius: 20px; /* Bordure arrondie */
  text-align: center; /* Centre le texte */
  margin: 10px auto 20px; /* Marge automatique */
}

/* Définition des animations */

@keyframes slide-in {
  from {
    opacity: 0; /* Opacité initiale */
    transform: translateX(-50px); /* Translation initiale */
  }
  to {
    opacity: 1; /* Opacité finale */
    transform: translateX(0); /* Translation finale */
  }
}

@keyframes slide-down {
  from {
    opacity: 0; /* Opacité initiale */
    transform: translateY(-50px); /* Translation initiale */
  }
  to {
    opacity: 1; /* Opacité finale */
    transform: translateY(0); /* Translation finale */
  }
}

@keyframes fade-in {
  from {
    opacity: 0; /* Opacité initiale */
  }
  to {
    opacity: 1; /* Opacité finale */
  }
}

@keyframes slide-up-animation {
  from {
    opacity: 0; /* Opacité initiale */
    transform: translateY(-50px); /* Translation vers le haut */
  }
  to {
    opacity: 1; /* Opacité finale */
    transform: translateY(0); /* Retour à la position initiale */
  }
}
